@using LeaRun.Application.Code
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="西安地图出版社" />
    <meta name="keywords" content="地图, 出版社, 西安, 电子书, 实体书" />


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/css/VarelaRound.css" rel="stylesheet" />
    <!-- Animate.css -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="/css/flexslider.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <!-- Modernizr JS -->
    <script src="/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=SRkUQaDbD9KVsHZGmikTgCG1"></script>
</head>
<body>
    <div id="fh5co-page">
        <header id="fh5co-header" role="banner">
            <div class="container">
                <div class="row">
                    <div class="header-inner">
                        <h1 style="margin-top: 10px;"><a href="/"><img src="~/images/logo.bmp" /></a></h1>
                        <nav role="navigation">
                            <ul class="sf-menu" id="fh5co-primary-menu">
                                <li><a href="/">首页</a></li>
                                <li><a href="/News">西图动态</a></li>
                                <li>
                                    <a href="/MapCulture" class="sf-with-ul">地图文化</a>
                                    @*<ul class="fh5co-sub-menu">
                                        <li><a href="#/preview/?item=build-free-html5-bootstrap-template" target="_blank">地图百科</a></li>
                                        <li><a href="#/preview/?item=work-free-html5-template-bootstrap" target="_blank">地图故事</a></li>
                                        <li><a href="#/preview/?item=light-free-html5-template-bootstrap" target="_blank">趣味地图</a></li>
                                    </ul>*@
                                </li>
                                <li><a href="/Books">网上书店</a></li>
                                <li><a href="#">产品定制</a></li>
                                <li><a href="#">业务服务</a></li>
                                <li><a href="#">关于我们</a></li>
                                @if (OperatorProvider.Provider.IsLogin()) {
                                    string name = !string.IsNullOrEmpty(OperatorProvider.Provider.Current().RealName) ? OperatorProvider.Provider.Current().RealName : OperatorProvider.Provider.Current().Account;
                                    <li>
                                        <a href="javascript:;">
                                            <img style="padding-bottom: 6px;" src="@(OperatorProvider.Provider.Current().HeadIcon ?? "/images/头像.png")" />
                                            @(name.Length > 16 ? (name.Substring(0, 13) + "...") : name)
                                        </a>
                                        <ul class="fh5co-sub-menu" style="width: 100px;">
                                            <li><a href="#">个人资料</a></li>
                                            <li><a href="#">我的定制</a></li>
                                            <li><a href="#">投诉建议</a></li>
                                            <li><a href="#">我的投稿</a></li>
                                            <li><a href="javascript:;" onclick="indexOut();">退出登录</a></li>
                                        </ul>
                                    </li>
                                }
                                else {
                                    <li style="margin-left: 20px;"><a class="navbtn" href="/SignIn">登录</a></li>
                                    <li><a class="regbtn btn btn-primary " href="/SignUp">注册</a></li>
                                }
                            </ul>

                        </nav>
                    </div>
                </div>
            </div>
        </header>
        @RenderBody()
        <footer id="fh5co-footer" role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <h1>地图出版社</h1>
                        <p>西安地图出版社成立于1985年，是国务院新闻出版部署批准成立，国务院测绘地理信息行政主管部门核准的专业出版机构。其主业是出版发行各类地图、地学、地理学和相关的自然科学、科技类图书。 </p>
                        <p>同时经营与主业相应的网络电子版产品，研发和推广特种地图。 </p>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <h3>Our Services</h3>
                        <ul class="float">
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Branding &amp; Identity</a></li>
                            <li><a href="#">Free HTML5</a></li>
                            <li><a href="#">HandCrafted Templates</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <h3>Our Services</h3>
                        <ul class="float">
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Branding &amp; Identity</a></li>
                            <li><a href="#">Free HTML5</a></li>
                            <li><a href="#">HandCrafted Templates</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <h3>Our Services</h3>
                        <ul class="float">
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Branding &amp; Identity</a></li>
                            <li><a href="#">Free HTML5</a></li>
                            <li><a href="#">HandCrafted Templates</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 fh5co-copyright text-center">
                    <p>版权所有：西安地图出版社 编号：陕网文[2012]0118-001号 陕ICP备 06004576号 增值电信业务许可证B-20120015</p>
                </div>
            </div>
        </footer>
    </div>

    
    <!-- jQuery Easing -->
    <script src="/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/js/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="/js/jquery.flexslider-min.js"></script>

    <!-- MAIN JS -->
    <script src="/js/main.js"></script>
    <script type="text/javascript">
    $(function ()
    {
        var m = @ViewBag.navIndex;
        $("#fh5co-header .sf-menu>li").eq(m).children("a:first").addClass("active");
    });
    </script>
</body>
</html>
